<div class="container text-center">
    <h1>{{ title }}</h1>
    <h2>Welkom {{ name }}</h2>
</div>

<nasa-customers></nasa-customers>

<hr>

<div class="container">
  <h3>Active countries</h3>
  <input type="button" (click)='toggleCountries()' value="Show/Hide" class="btn btn-outline-warning"> {{ toggleMsg }}
  <ul class="list-group" *ngIf='showCountries'>
    <li class="list-group-item" *ngFor="let country of countries">
      <p *ngIf='country.continent === "America"'>This is situated in the continent America!</p>
      {{ country.id }} - {{ country.name }} - {{ country.continent }}
    </li>
  </ul>
</div>

<hr>

<div class="container">
  <h3>Add country</h3>
  <input type="text" class="form-control-lg" placeholder="Country name" #nameCountry>
  <input type="text" class="form-control-lg" placeholder="Continent name" #continentCountry>
  <button class="btn btn-outline-success" (click)='addCountry(nameCountry.value, continentCountry.value)'>Add country</button>
</div>

<hr>

<div class="container text-center">
  <h6 style="margin-top: 200px">End</h6>
</div>

<hr>
